/*attempt at diabling horizontal scrolling*/

body { 
overflow-x: hidden; 
-webkit-user-select: none;

background:gray;
}

#date-page{
padding:0px!important;

}

li{
border-top-width:0px !important;
background:none!important;
}

ul{
background:none!important;
list-style-type: none;
}

.background{
	 z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
}

.fixed{
position:fixed!important;
overflow-y: hidden!important; 
}

.relative{
position:relative!important;	
overflow-y: visible!important; 
}

.event-list-wrap{
		transition: height 2s;
-webkit-transition: height 2s; /* Safari */
height:222px;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top:solid black 1px;
}
/*
.date-list-elem-outter{
	
padding:0px!important;
}
*/
.hidden{
	display:none!important;
}
/*
.more-events-corner-bl{
position: absolute;
height: 10px;
width: 10px;
background: white;
bottom: 0px;
left: 0px;
border-bottom: solid hsl(0, 0%, 0%) 3px;
border-left: solid hsl(0, 0%, 0%) 3px;	
}

.event-list-wrap-ex{
	transition: height 2s;
-webkit-transition: height 2s; 
height:0px;
}
*/
#dateMainList {
	width: 97%;
margin: auto;
margin-top:0px!important;
background:none!important;
padding-left:0px!important;
}

.more-events-text-inner-wrap{
	width:95%;
	height:90%;
	color:black;
	margin:auto;
	margin-bottom:5px;
	position:relative;
background: -moz-linear-gradient(top, rgba(183,182,186,0) 0%, rgba(183,182,186,0.07) 44%, rgba(183,182,186,0.07) 46%, rgba(183,182,186,0.07) 49%, rgba(183,182,186,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,182,186,0)), color-stop(44%,rgba(183,182,186,0.07)), color-stop(46%,rgba(183,182,186,0.07)), color-stop(49%,rgba(183,182,186,0.07)), color-stop(100%,rgba(183,182,186,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7b6ba', endColorstr='#00b7b6ba',GradientType=0 ); /* IE6-9 */
}

.more-events-text{
position:absolute;
top:12px;
left:40px;
	font-family:"Arial";
	        font-size:12pt;
	        font-weight:bold;
}

.more-events-img{
	position:absolute;
	right:10px;
	top:5px;
}


.date-list-elem-wrap{
margin-top:-40px;
}

.dateDisplayer{
	opacity:0;
}

.spacer{
	width:100%;
	height:80px;
	height: 43px;
	margin:0px 3px;
}

.event{
background:black;
border-top-width:1px;
border: 1px solid hsl(50, 94%, 43%);;
}
/*
.selectedListFlyer{
         overflow-x:hidden;
         background:white;
    border:1px solid rgba(0,0,255, 0.8); 
         
}
*/
.event-pic-wrap{
	display:inline-block;
width: 50px;
height: 50px;
margin-left:5px;

}

.event-title-wrap{
	display:inline-block;
	width:65%;
	font-size:8pt;
	margin-left:5px;
	vertical-align:top;
}
/*
.friend-pic-wrap{
	width:50px;
	height:50px;
	margin:0px auto;
	display:block;
}
*/
.friend-title-wrap{
	display:none;
	vertical-align: top;
margin-top: 9px;
font-size:8pt;
margin-left:5px;
overflow-x:hidden;
}

.extra-attendees-wrap{
display:block;	
}

.quadBr{
	position:absolute;
	bottom:0px;
	right:0px;
}

.quadBl{
	position:absolute;
	bottom:0px;
	left:0px;
}

.quadUr{
	position:absolute;
	top:0px;
	right:0px;
}

.quadUl{
	position:absolute;
	top:0px;
	left:0px;
}

.friend-wrap{
	margin-top:3px;
	margin-left:8px;
	float:left;
	position:relative;
	height:50px;
	width:50px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
/*
.event-friend-group-wrap{
		display:inline-block;
	margin:2px;
}
*/
.friend-wrap-touched{
	margin-top:4px;
	margin-left:2px;
	border-top:solid black 3px;
	border-left:solid black 3px;
	height:48px!important;
	width:48px!important;
}

.event-wrap{
	float:left;
	width: 79%;
	
background: -moz-linear-gradient(top, rgba(183,182,186,0) 0%, rgba(183,182,186,0.07) 44%, rgba(183,182,186,0.07) 46%, rgba(183,182,186,0.07) 49%, rgba(183,182,186,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,182,186,0)), color-stop(44%,rgba(183,182,186,0.07)), color-stop(46%,rgba(183,182,186,0.07)), color-stop(49%,rgba(183,182,186,0.07)), color-stop(100%,rgba(183,182,186,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7b6ba', endColorstr='#00b7b6ba',GradientType=0 ); /* IE6-9 */
}

.event-img{
	display: inline-block;
width: 50px;
height: 50px;
background: hsl(120, 100%, 25%);
margin-left: 5px;
}

.friend-img{
border:solid black 1px;	
}
/*
@-webkit-keyframes eventWrap 
{
from {height:50px;}
to {height:470px;}
}
*/
.selectedListFlyer .event-img{
	border:solid black 1px!important;
	position:initial !important;
	animation:eventImgAnim .2s;
        -webkit-animation:eventImgAnim .2s;
        -webkit-animation-fill-mode: forwards;
    
}

.event .event-img{
vertical-align:middle;
margin:auto;
display:block;
width:100px;
height:100px;
top:0px;
}

#fb-login-button{
	display:none;
	margin:auto;
	width:350px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
}

.more-events-button{
	height:50px;
	width:100%;
}

.opaque{
	opacity:.4px;
}

.cut-away-wrap{
	width:22%;
	height:50px;
display:block;
position:absolute;
bottom:0px;
left:0px;
border-top:solid black 1px;
}

.more-events-text-block{
	display:block;
	width:100%;
	height:30%;
	 background:white;
}
/*
.formatting-block{
	width:100%;
	height:20px;
}

.formatting-block-inner{
	width:100%;
	height:20px;
}

.formatting-block-trans{
	height:100%;
	width:30%;
	background:yellow;
	float:left;
	height:20px;
}

.formatting-block-more{
	height:100%;
	width:70%;
	height:20px;
	background:pink;
	float:left;
}
*/

.more-events-text-wrap{
	text-align: center;
        height:50px;
        width:78%;
        background:white;
        position:absolute;
        bottom:0px;
        right:0px;
        border-right:solid black 1px;
        border-bottom:solid black 1px;
        border-left:solid black 1px;
        
        		background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 55%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.event-list-wrap-trans{
	position:relative;
}

.more-events-cut-away{
	height:66%;
	display:block;
	width:95%;
}

.more-events-corner{
	background:white;
	height:30%;
	width: 100%;
bottom:0px;
left:0px;
border-left:solid black 3px;
border-bottom:solid black 3px;
}

.row-wrap{
	height:64px;
	padding:5px 0px;
		background: rgb(255,255,255); 
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 55%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.date-row{
		height:50px;
}

.date-list-elem{
	/*border-right:solid black 5px !important;*/
	background:none!important;
	padding:0px!important;
	width: 99%;
}

.flyer-img-wrap{
	display:block;
}

.attendee-quad-row{
	display:block;
	height:25px;
}

.friend-pic-wrap-quad{
	display:inline-block;
}

.attendee-block{
	display:block;
	border:solid black 1px;
	margin:0px;
	height: 50px;
	width:102px
}

.attendee-block-event-quad{
	display:block;
	height: 50px;
	border-bottom:solid black 1px;
}




.friend-group-display-wrap{
	background:hsla(0, 0%, 0%, 0.70);
        position: fixed !important;
        top: 10px;
        right: 10px;
        width:100px;
        z-index: 3;
        display:none;
}

.touched{
	 display:block !important;
	 border:solid black 0px!important;
	 background:hsla(0, 0%, 0%, 0.7);
}

.flyer-group-display-wrap{
	background:hsla(0, 0%, 0%, 0.7);
	position: fixed !important;
        top: 10px;
        right: 10px;
        z-index: 3;
        width: 180px;
        font-size:10pt;
        display:none;
}

.score{
position: absolute;
background: hsl(0, 0%, 0%);
width: 11px;
height: 13px;
font-size: 8pt;
text-align: center;
padding: 1px;
border: solid hsl(0, 100%, 100%) 1px;
}

.fixed-left{
	position:fixed;
	top:0px;
	left:0px;
	z-index:5;
}

.forced-block{
		display:block!important;
}

.forced-block .pinkX{
	
}

.hidden{
	display:none!important;
}

.event-list-elem-fixed{
	display:block;
}

.event-list-elem-fixed-img{
	display:inline-block;
}

.event-sub-elem-name{
	display:inline-block;
	border:solid hsla(0, 100%, 100%, 0.48) 1px;
}

.event-sub-elem{
	display:none;
}

.event-cluster-wrap{
	display:inline-block;
	background:white;
	height: 100%;
}

.friend-cluster-wrap{
	display:inline-block;
	height: 100%;
	margin:auto;
}

.selected-friend-cluster{
	background:white!important;
}


.tap-wrap{
width: 54px;
height: 54px;
position: absolute;
display: block;
z-index: 20;	
}

.quad{
height: 25px;	
}

#header-pic{
	display:inline-block;
}

#header-text{
	display:inline-block;
}

.friend-display{
	height:15px;
}

.date-display{
	height:15px;
color:black;
width: 75px;
text-align: center;
text-align: center;

font-size:10pt;
}

.event-list-ex{
display:block;	
}

.date-header{
	font-size:12pt;
}

.date-abrev-bot{
	display:block;
	text-align:center;
	        font-size:12pt;
	        line-height: 12pt;
	        color:white;
width:100%;
position:absolute;
bottom:2px;

}

.more-events-button-touched{
	background:blue;
}

.event-wrap-touched{
	background:yellow;
}

.friend-pic-wrap-touched{
          border:solid black 1px;
          background:hsla(0, 0%, 0%, 0.1);
}

.date-abrev-top{
	display:block;
	text-align:center;
	font-family:"Arial";
	        font-size:16pt;
	        font-weight:bold;
	       position:absolute;
	       top:0px;
	        color:white;
	        width: 100%;
}

.date-abrev-wrap{
        display:block;
        font-family:"Arial";
        float:left;
        border-top-right-radius: .5em;
        margin-top:0px;
        width:50px;
        height:50px;
        position:relative;
        background:black;
        font-weight:bold;  
}

.event-title{
		  line-height: 1.5em;
     height: 4.5em; 
  overflow: hidden;
}
