/*attempt at diabling horizontal scrolling*/
/*
 div[data-role="page"]{
 background-image:url('../images/upArrow.png');
 background-repeat:repeat;
 background-attachment: fixed;
 }
 */

/*-webkit-overflow-scrolling: touch;*/

body {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
};
/*
#myPopupDiv{
    position:fixed;
    margin-top:50px;
}
*/
html, body {
    overflow-x: hidden !important;
    /*position: relative !important;*/
}

html{
    position: relative !important;
}

#ev-info-pop{
    margin:auto;
    width:90%;
    /*height:80%;*/
}


/*
 body{
 position: relative !important;
 }
 */

#tags{
    margin:auto!important;
    width:97%!important;

}

#top-elem{
    position:absolute;
    width:97%;
    height:50px;
    background:black;
    padding:5px 5px;
    margin-bottom:55px;
    z-index: 200;
    background: -moz-linear-gradient(top,  rgba(179,200,229,0.57) 0%, rgba(205,226,247,0.13) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,200,229,0.57)), color-stop(100%,rgba(205,226,247,0.13))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(179,200,229,0.57) 0%,rgba(205,226,247,0.13) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(179,200,229,0.57) 0%,rgba(205,226,247,0.13) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(179,200,229,0.57) 0%,rgba(205,226,247,0.13) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(179,200,229,0.57) 0%,rgba(205,226,247,0.13) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b3c8e5', endColorstr='#21cde2f7',GradientType=0 ); /* IE6-9 */

}
.be-text-1{
    /*
     font-size:60pt;
     margin:-40px 16px;
     */
    font-size:20pt;
    margin:-5px 16px;
}

.hello{
    position:absolute;
    font-size:20pt;
}

.be-pat{
    position:fixed;
    display:block;
    z-index:0;
    background:white;
}

#be-pat-1{
    /*background:pink;*/
    /*background:black;*/
    background:white;
}

#ev-i-pic{
    width:200px;
    height: 200px;
    margin:auto 15px;
    display:block;

}
/*
 #be-pat-2{
 margin-top:3px;
 background:pink;
 }
 */
.be-text{
    /*
     font-size:20pt;
     margin:-25px -3px;
     */
    /*
     font-size:30pt;
     margin:-40px -3px;
     */
    /*
     font-size:30pt;
     margin:-40px -7px;
     color:pink;
     */
    /*
     font-size:30pt;
     margin:-30px -7px;
     color:gray;
     */
    /*
     font-size:40pt;
     margin:-40px -5px;
     color:gray;
     */
    font-size:20pt;
    margin:-20px -5px;
    color:gray;
}

body {
    overflow-x: hidden;
    
    
    
    background:gray;
}

li{
    /*
    margin-bottom:5px;
    margin-top:3px;
     */
    /*
    border-left:solid black 5px;
    border-right:solid black 5px;
     */
}

#footer1{
    bottom: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    /*height: 2.5em;*/
    height: 50px;
    position: fixed;
    margin-bottom: 0px;
    background:black;
    color:white;
}

#date-page{
    padding:0px!important;
    
}



#test-button{
    position:fixed;
    top:0px;
    right:0px;
    background:green;
}

li{
    border-top-width:0px !important;
    background:none!important;
}

ul{
    background:none!important;
    list-style-type: none;
}

.background{
    z-index: 0;
    position: fixed;
}


#bg-img-ul{
    top: 0;
    left: 0;
}

#bg-img-ur{
    top: 0;
    right: 0;
}

#bg-img-bl{
    bottom: 0;
    left: 0;
}

#bg-img-br{
    bottom: 0;
    right: 0;
}

.fixed{
    position:fixed!important;
    overflow-y: hidden!important;
}

.relative{
    position:relative!important;
    overflow-y: visible!important;
}


.event-list-wrap{
	
	-webkit-transform: translate3d(0px,0px,0px);
    transition: height .5s;
    -webkit-transition: height .5s; 
     -webkit-perspective: 1000;
     
    
    height:222px;
	border-left:solid rgba(0, 0, 0, 0.75) 1px;
	border-right:solid rgba(0, 0, 0, 0.75) 1px;
	border-top:solid rgba(0, 0, 0, 0.75) 1px;
	/*-webkit-backface-visibility: hidden;*/

}

.hidden{
	display:none!important;
}

#dateMainList {
    /*border-right:solid rgba(0, 0, 0, 0.1) 5px;
    border-left:solid rgba(0, 0, 0, 0.1) 5px;*/
    /*border-right:solid black 5px;
    border-left:solid black 5px;*/
	width: 92%;
    margin: auto;
    margin-top:65px!important;
    background:none!important;
    padding-left:0px!important;
}

#sticky-block{
    position:fixed;
    top:0px;
    z-index:102;
    width:97%;
    height:50px;
    background:white;
}

.more-events-text-inner-wrap{
	width:95%;
	height:90%;
	color:black;
	margin:auto;
	margin-bottom:5px;
	position:relative;
    font-size:20pt;
	/*
     background: -moz-linear-gradient(top, rgba(183,182,186,0) 0%, rgba(183,182,186,0.07) 44%, rgba(183,182,186,0.07) 46%, rgba(183,182,186,0.07) 49%, rgba(183,182,186,0) 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,182,186,0)), color-stop(44%,rgba(183,182,186,0.07)), color-stop(46%,rgba(183,182,186,0.07)), color-stop(49%,rgba(183,182,186,0.07)), color-stop(100%,rgba(183,182,186,0)));
     background: -webkit-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
     background: -o-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
     background: -ms-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
     background: linear-gradient(to bottom, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7b6ba', endColorstr='#00b7b6ba',GradientType=0 );
     */
}

.more-events-text{
    position:absolute;
    top:12px;
    left:40px;
	font-family:"Arial";
    font-size:12pt;
    font-weight:bold;
}

.more-events-img{
	position:absolute;
	right:10px;
	top:5px;
}


.date-list-elem-wrap{
    margin-top:-40px;
}

.dateDisplayer{
	opacity:0;
}

.spacer{
	width:100%;
	height:80px;
	height: 43px;
	margin:0px 3px;
}

.spacer{
    width:100%;
    height:30px;
}

.event-name-inner{
    margin-left:5px;
    height:50px;
    overflow-y:hidden;
    /*border-right:solid rgba(0, 0, 0, 0.1) 1px;*/
    /*border-right:solid black 1px;*/
}

.friend-name-inner{
    
    height:50px;
    overflow-y:hidden;
    /*border-left:solid rgba(0, 0, 0, 0.1) 1px;*/
    /*border-left:solid black 1px;*/
    /*position:absolute;*/
}

.friend-outter{
    width:50px;
    overflow-y:hidden;
    /*margin-top: -50px;*/
    height:50px;
    /*margin-left:51px;*/
    margin-right:5px;
    float:right;
    box-shadow: 2px 2px 2px #888888;
}

.event-outter{
    /*position:absolute;*/
    /*height:64px;*/
    overflow-y:hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    
    height:50px;
    float:left;
    width:50px;
    /*margin-left:51px;*/
    /*margin-right:51px;*/
    box-shadow: 2px 2px 2px #888888;
    
}

.event-wrapper{
    height:50px;
    overflow-y:hidden;
}

.divider-wrap{
    /*margin-top:-3px;*/
    /*margin-bottom:-5px;*/
    height:50px;
    position:relative;
}

.date-wrap-inner{
    height:50px;
    margin:0px 50px;
    /*background:rgba(0, 0, 0, 0.10);*/
    /*background:black;*/
    /*color:rgba(6, 6, 6, 0.44);*/
    border-top:double rgba(0, 0, 0, 0.85) 3px;
    color:black;
    /*position:relative;*/
}

.date-header{
    font-family:helvetica neue;
    font-weight: normal;
    font-size:24pt;
    /*
    line-height: 1em;
    height: 1em;
     */
    /*position:absolute;
    top:5px;*/
}

.more-events-header{
    font-family:helvetica neue;
    font-weight: normal;
    font-size:10pt;
    background:rgba(0, 0, 0, 0.20);
    width:50%;
    margin:auto;
    /*
    line-height: 1em;
    height: 1em;
     */
}

.event-exp{
    width:100%;
    height:50px;
    /*position:relative;*/
    /*border:solid red 1px;*/
    /*background:red;*/
}

.event-buttons{
    height:50px;
    border:solid red 1px;
}

.friend-buttons{
    height:50px;
    border:solid blue 1px;
}

.friend-exp{
    width:100%;
    height:0px;
    margin-top:-50px;
    /*border:solid blue 1px;*/
    /*background:blue;*/
    height:50px;
}



.friend-name{
    /*position:absolute;*/
    /* margin-right:50px;*/
    /*margin-left:50px;*/
    overflow-x:hidden;
    float:right;
    width:0%;
    font-size:9pt;
    /* border-bottom:solid blue 1px;*/
    /*
     border-top:solid blue 1px;
     border-left:solid blue 1px;
     */
    /*border-top:solid rgba(0, 0, 0, 0.75) 1px;*/
    /*margin-top:5px;*/
    /*border:solid blue 1px;*/
    /*height:64px;*/
}



.event-name{

     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: width .25s;
     -webkit-transition: width .2s;
     -webkit-perspective: 250;
     -webkit-backface-visibility: hidden;

    /*position:absolute;*/
    font-size:9pt;
    overflow-x:hidden;
    float:left;
    width:0%;
    font-family:arial;
    /*border-top:solid red 1px;*/
    /*border-top:solid rgba(0, 0, 0, 0.75) 1px;*/
    /*margin-top:5px;*/
    /*border-bottom:solid red 1px;*/
    
    /*border:solid 1px yellow;*/
    /*height:50px;*/
}

.left-fill{
    height:100%;
    margin-top:10px;
    width:30px;
    background:black;
}

.friend-selected .friend-outter{
    height:170px!important;
}

.event-selected .event-outter{
height:170px!important;
}

.event-selected .ev-button-exp-wrap{
   height:100px!important;
}

.friend-selected .fr-button-exp-wrap{
    height:100px!important;
}

.event-selected{
  height:170px!important;
}

.friend-selected{
    height:170px!important;
}

.friend-touched .friend-outter{
    /*width:50%;*/
    /*width:75%;*/
    width:225px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}

.event-touched .event-outter{
    /*width:50%;*/
    /*width:75%;*/
    width:225px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}


.friend-touched .friend-name{
    width:75%;

     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: width .5s;
     -webkit-transition: width .5s;
     -webkit-perspective: 500;
     -webkit-backface-visibility: hidden;

}

.event-touched .event-name{
    width:75%;
/*
     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: width .5s;
     -webkit-transition: width .5s;
     -webkit-perspective: 500;
     -webkit-backface-visibility: hidden;
*/
}
/*
.friend-touched .fr-button-exp{
    width:100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}

.event-touched .ev-button-exp{
    width:100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}

.friend-touched .fr-button-exp-wrap{
    width:99%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}

.event-touched .ev-button-exp-wrap{
    width:99%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
}

.friend-touched .ev-button-exp-out{

}

.friend-touched .fr-button-exp-out{

}

.event-touched .fr-button-exp-out{

}

.event-touched .ev-button-exp-out{
    width:100%;
}

.event-touched .ev-button-exp{
    width:100%;
}

.friend-touched .fr-button-exp{
    width:100%;
}
*/


.fr-button-exp-out{
    /*float:right;*/
    /*float:left;*/
    width:100%;
    /*border-left:solid rgba(0, 0, 0, 0.1) 5px;*/
    /*border-bottom:solid blue 5px;*/
    /*margin-left:5px;*/
}

.ev-button-exp-out{
    /*float:right;*/
    /*float:left;*/
    width:100%;
    /*border-right:solid red 5px;*/
    /*border-bottom:solid red 5px;*/
    /*margin-top:-5px;*/
    /*margin-left:-5px;*/
}

/*
.friend-selected .fr-button-exp-out{
    height:50px;
}

.event-selected .ev-button-exp-out{
    height:50px;
}
*/
.show-friend-name .event-name{
    display:none;
}

.show-friend-name .friend-name{
    display:block;
}

.show-event-name .event-name{
    display:block;
}

.show-event-name .friend-name{
    display:none;
}

.ev-button-exp{
    width:100%;
    /*float:right;*/
    /*float:left;*/
}

.fr-button-exp{
    width:100%;
    /*float:right;*/
    /*float:left;*/
}

/*event-title-wrap"><div class="event-name">'+eventName+'</div><div class="friend-name*/

.event-title-wrap{
    float:center;
    position:relative;
	/*display:inline-block;*/
	/*width:65%;*/
	font-size:8pt;
	margin-left:50px;
    margin-right:50px;
	vertical-align:top;
    
}

.friend-title-wrap{
	display:none;
	vertical-align: top;
    margin-top: 9px;
    font-size:8pt;
    margin-left:5px;
    overflow-x:hidden;
}


.quadBr{
	position:absolute;
	bottom:0px;
	right:0px;
}

.quadBl{
	position:absolute;
	bottom:0px;
	left:0px;
}

.quadUr{
	position:absolute;
	top:0px;
	right:0px;
}

.quadUl{
	position:absolute;
	top:0px;
	left:0px;
}




.quad-wrap{
    /*
    border-right:solid rgba(0, 0, 0, 0.75) 1px;
    border-top:solid rgba(0, 0, 0, 0.75) 1px;
    border-bottom:solid rgba(0, 0, 0, 0.75) 1px;
     */
    height:50px;
    width:50px;
    position:relative;
}

.event-img-wrap{
    margin-top:0px;
    display:block;
    /*margin-left:-51px;*/
    /*border-bottom:solid 55px rgba(0, 0, 0, 0.1);*/
    /*border-bottom:solid 55px black;*/
    float:left;
    position:relative;
    width: 50px;
    height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.friend-wrap{
    margin-top:0px;
    display:block;
    /*margin-right:-51px;*/
    /*border-bottom:solid 55px rgba(0, 0, 0, 0.1);*/
    /*border-bottom:solid 55px black;*/
	float:right;
	position:relative;
	height:50px;
	width:50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.friend-wrap-quad{
    margin-top:0px;
    display:block;
    /*margin-right:-51px;*/
    /*border-bottom:solid 55px rgba(0, 0, 0, 0.1);*/
    /*border-bottom:solid 55px black;*/
	float:right;
	position:relative;
	height:50px;
	width:50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}



.ev-button-bottom{
    height: 50%;
    width: 100%;
}

.ev-button-top{
    height: 50%;
    width: 100%;
}

.fr-button-bottom{
    height: 50%;
    width: 100%;
}

.fr-button-top{
    height: 50%;
    width: 100%;
}

.fr-post-button{

    background-image:url('../images/postIcon50.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}

.fr-i-button-touched{
    background-image:url('../images/infoOrange.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
     border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
}

.fr-i-button{

    background-image:url('../images/info.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}

.fr-plus-button-touched{
    background-image:url('../images/infoOrange.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
     border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
}

.fr-plus-button{
    
    background-image:url('../images/plusIcon_40.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}

.fr-comm-button-touched{
    background-image:url('../images/infoOrange.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
     border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
}

.fr-comm-button{
    
    background-image:url('../images/commentIcon_40.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}

.fr-half-button-touched{
    background-image:url('../images/halfIcon_45.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
     border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
}

.fr-half-button{
    
    background-image:url('../images/halfIcon_45.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}




.fr-mail-button{

    background-image:url('../images/mailIcon40.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}

.fr-mail-button-touched{
    background-image:url('../images/mailIconOrange.png')!important;
    background-position:center;
    background-repeat:no-repeat;
}

.fr-post-button{
    
}

.ev-info-touched{
    background-image:url('../images/infoOrange.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
    border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
    /*border:solid red 5px;*/
}

.ev-map-button-touched{
    background-image:url('../images/mapMrkOrangeBg.png')!important;
    /*background-image:url('../images/mailIcon40.png')!important;
     border:solid red 5px;*/
    background-position:center;
    background-repeat:no-repeat;
}




.ev-buy-button{
    

    background-image:url('../images/buyIcon50.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
}

.ev-check-in-button{
    

    background-image:url('../images/rsvpIcon50.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
}

.ev-tag-button{
    

    background-image:url('../images/tagIcon40.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
}

.ev-i-button{

     background-image:url('../images/info.png');
     background-position:center;
     background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
    /*border:solid black 1px;*/
}


.ev-rsvp-button-touched{

    background-image:url('../images/checkOrangeBg.png')!important;
    background-position:center;
    background-repeat:no-repeat;
}

.ev-rsvp-button{

    background-image:url('../images/check-trans.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
    /*border:solid black 1px;*/
}

.ev-map-button{

    background-image:url('../images/mrk-trans-3.png');
    background-position:center;
    background-repeat:no-repeat;
    float:left;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: width .5s;
    -webkit-transition: width .5s;
    -webkit-perspective: 500;
    -webkit-backface-visibility: hidden;
    box-shadow:2px 2px 2px #888888;
    /*border:solid black 1px;*/
}

.friend-wrap-touched{
	margin-top:4px;
	margin-left:1px;
	border-top:solid black 3px;
	border-left:solid black 3px;
	height:48px!important;
	width:48px!important;
}

.fnct-icon{
    margin:5px;
    height:95%;
    width:27%;
}


.event-img{
    /*
    border-left:solid rgba(0, 0, 0, 0.75) 1px;
    border-top:solid rgba(0, 0, 0, 0.75) 1px;
    border-bottom:solid rgba(0, 0, 0, 0.75) 1px;
     */
	/*display: inline-block;*/
    width: 50px;
    height: 50px;
    background: hsl(120, 100%, 25%);
    display:block;
    /*margin-left: 5px;*/
    
}

.friend-img{
    width: 50px;
    height: 50px;
    background: hsl(120, 100%, 25%);
    display:block;
    /*
    border-right:solid rgba(0, 0, 0, 0.75) 1px;
    border-top:solid rgba(0, 0, 0, 0.75) 1px;
    border-bottom:solid rgba(0, 0, 0, 0.75) 1px;
     */
}

#fb-login-button{
	display:none;
	margin:auto;
	width:350px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
}

.more-events-button{
	height:50px;
	width:100%;
}
/*
 .opaque{
 opacity:.4px;
 }
 */
.cut-away-wrap{
	width:81%;
	height:50px;
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    border-top:solid black 1px;
}

.cnt .left-ex-button{
    /*display:block;*/
    
    background-image:url('../images/ArrowUpTrans.png')!important;
    /*
    background:red!important;
    background-color:blue!important;
     */
    /*background-image:url('../images/upArrowWhite.png')!important;*/
    background-position:center!important;
    background-repeat:no-repeat!important;
    -webkit-transition: opacity .5s ease-in;
    opacity: 1;
}

.ex .more-events-text-wrap{
    /*display:block;*/
    
    -webkit-transition: opacity .5s ease-in;
    opacity: 1;
}

.more-events-text-block{
	display:block;
	width:100%;
	height:30%;
    background:white;
}

.expanded{
    /*
     background-image:url('../images/upArrow.png')!important;
     background-position:center;
     background-repeat:no-repeat;
     */
}

.more-events-text-wrap-touched{
    /*background-image:url('../images/downArrowTouched.png')!important;*/
    /*background-image:url('../images/downArrowOrange.png')!important;*/
    /*background-image:url('../images/downArrowBgOrange.png')!important;*/
    background-image:url('../images/ArrowDownBlackOrange.png')!important;

    background-position:center!important;
    background-repeat:no-repeat!important;
    /*background:green!important;*/
}

.right-ex-wrap{
    
    /*margin-top:3px;*/
    float:right;
    height:50px;
    width:50px;
    /*background-color:rgba(3, 3, 3, 0.1);*/
    /*background-color:black;*/
}

.more-events-text-wrap{
	text-align: center;
    /*display:none;*/
    -webkit-transition: opacity .5s ease-out;
    opacity: 0;
    
    height:50px;
    width:50px;
    /*border:solid black 5px;*/
    /*color:yellow;*/
    font-size:26pt;
    
    background-image:url('../images/ArrowDownTrans.png');
    /*background-image:url('../images/downArrowWhite.png');*/
    /*background-image:url('../images/ArrowDownTransUp.png');*/
    background-position:center;
    background-repeat:no-repeat;
    
    /*box-shadow: 2px 2px 2px #888888;*/
    
    /*border-right:solid black 1px;*/
    /*background:white;*/
    
    /*
     border-right:solid black 1px;
     border-bottom:solid black 1px;
     border-left:solid black 1px;
     */
    
    
    
}

#top-elem{
    /*
    -webkit-transform-style: preserve-3d;
    
	-webkit-transform: translate3d(0px,0px,0px);
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
	-webkit-perspective: 1500;
	-webkit-backface-visibility: hidden;
     */
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.ami-ex{
    /*
     -webkit-transform-style: preserve-3d;
     
     -webkit-transform: translate3d(0px,0px,0px);
     transition: height 1.5s;
     -webkit-transition: height 1.5s;
     -webkit-perspective: 1500;
     -webkit-backface-visibility: hidden;
     */
}

.background-div{
    position:fixed;
    height:51%;
    width:50%;
    background:white;

    background: rgb(205,226,247);
    background: -moz-linear-gradient(top, rgba(205,226,247,1) 0%, rgba(218,220,237,1) 13%, rgba(230,238,247,1) 32%, rgba(242,242,252,1) 50%, rgba(222,234,247,1) 68%, rgba(213,218,239,1) 86%, rgba(205,226,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,226,247,1)), color-stop(13%,rgba(218,220,237,1)), color-stop(32%,rgba(230,238,247,1)), color-stop(50%,rgba(242,242,252,1)), color-stop(68%,rgba(222,234,247,1)), color-stop(86%,rgba(213,218,239,1)), color-stop(100%,rgba(205,226,247,1)));
    background: -webkit-linear-gradient(top, rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%,rgba(230,238,247,1) 32%,rgba(242,242,252,1) 50%,rgba(222,234,247,1) 68%,rgba(213,218,239,1) 86%,rgba(205,226,247,1) 100%);
    background: -o-linear-gradient(top, rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%,rgba(230,238,247,1) 32%,rgba(242,242,252,1) 50%,rgba(222,234,247,1) 68%,rgba(213,218,239,1) 86%,rgba(205,226,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%,rgba(230,238,247,1) 32%,rgba(242,242,252,1) 50%,rgba(222,234,247,1) 68%,rgba(213,218,239,1) 86%,rgba(205,226,247,1) 100%);
    background: linear-gradient(to bottom, rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%,rgba(230,238,247,1) 32%,rgba(242,242,252,1) 50%,rgba(222,234,247,1) 68%,rgba(213,218,239,1) 86%,rgba(205,226,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde2f7', endColorstr='#cde2f7',GradientType=0 );
   
/*
background: -moz-linear-gradient(top, rgba(239,247,249,0.42) 0%, rgba(254,244,244,0.42) 24%, rgba(255,244,244,0.42) 25%, rgba(255,255,255,0.39) 51%, rgba(232,238,252,0.37) 75%, rgba(232,238,252,0.37) 76%, rgba(239,247,249,0.37) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,247,249,0.42)), color-stop(24%,rgba(254,244,244,0.42)), color-stop(25%,rgba(255,244,244,0.42)), color-stop(51%,rgba(255,255,255,0.39)), color-stop(75%,rgba(232,238,252,0.37)), color-stop(76%,rgba(232,238,252,0.37)), color-stop(100%,rgba(239,247,249,0.37)));
background: -webkit-linear-gradient(top, rgba(239,247,249,0.42) 0%,rgba(254,244,244,0.42) 24%,rgba(255,244,244,0.42) 25%,rgba(255,255,255,0.39) 51%,rgba(232,238,252,0.37) 75%,rgba(232,238,252,0.37) 76%,rgba(239,247,249,0.37) 100%);
background: -o-linear-gradient(top, rgba(239,247,249,0.42) 0%,rgba(254,244,244,0.42) 24%,rgba(255,244,244,0.42) 25%,rgba(255,255,255,0.39) 51%,rgba(232,238,252,0.37) 75%,rgba(232,238,252,0.37) 76%,rgba(239,247,249,0.37) 100%);
background: -ms-linear-gradient(top, rgba(239,247,249,0.42) 0%,rgba(254,244,244,0.42) 24%,rgba(255,244,244,0.42) 25%,rgba(255,255,255,0.39) 51%,rgba(232,238,252,0.37) 75%,rgba(232,238,252,0.37) 76%,rgba(239,247,249,0.37) 100%);
background: linear-gradient(to bottom, rgba(239,247,249,0.42) 0%,rgba(254,244,244,0.42) 24%,rgba(255,244,244,0.42) 25%,rgba(255,255,255,0.39) 51%,rgba(232,238,252,0.37) 75%,rgba(232,238,252,0.37) 76%,rgba(239,247,249,0.37) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6beff7f9', endColorstr='#5eeff7f9',GradientType=0 );
 */

}
#bg-img-ul-div{
    top:0px;
    left:0px;
    /*background:green;*/
    
}
#bg-img-ur-div{
    top:0px;
    right:0px;
    /*background:blue;*/
}
#bg-img-bl-div{
    bottom:0px;
    left:0px;
    /*background:red;*/
}
#bg-img-br-div{
    bottom:0px;
    right:0px;
    /*background:black;*/
}

.is-sticky .date-row{
    /*background:#F2F2FC;*/
    /*background:#DFDFE9;*/
    background: rgb(205,226,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(205,226,247,1) 0%, rgba(218,220,237,1) 13%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,226,247,1)), color-stop(13%,rgba(218,220,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(205,226,247,1) 0%,rgba(218,220,237,1) 13%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde2f7', endColorstr='#dadced',GradientType=0 ); /* IE6-9 */
    /*border-bottom:solid rgba(218,220,237,.2) 5px;*/
     /*border-bottom:solid black 5px;*/
    z-index:105;
}

/*
.is-sticky .date-abrev-wrap{
    border-bottom:solid rgba(218,220,237,1) 5px;
}
*/
.is-sticky .date-wrap-inner{
height:50px
}

.is-sticky .date-wrap-inner{
    border-top:solid black 0px!important;
}

.animateHeight{
    /*
     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: height 1.5s;
     -webkit-transition: height 1.5s;
     -webkit-perspective: 1500;
     -webkit-backface-visibility: hidden;
     */
}

.event-wrap-in{
    /*background:white;*/
	position:relative;
	overflow-y:hidden;
    /*
     border-left:solid black 1px;
     border-right:solid black 1px;
     */
    
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: height 1s;
    -webkit-transition: height 1s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    
    
}

.event-list-wrap-trans{
	position:relative;
	overflow-y:hidden;
    /*margin-top:-3px;*/
    /*
     -webkit-transform-style: preserve-3d;
     
     -webkit-transform: translate3d(0px,0px,0px);
     transition: height 1.5s;
     -webkit-transition: height 1.5s;
     -webkit-perspective: 1500;
     -webkit-backface-visibility: hidden;
     */
    /*height:272px;*/
    /*
     border-left:solid black 1px;
     border-right:solid black 1px;
     border-top:solid black 1px;
     */
	/*-webkit-backface-visibility: hidden;*/
}

.more-events-cut-away{
	height:66%;
	display:block;
	width:95%;
}

.row-wrap{
    padding:0px 0px;
    /*border-bottom:solid rgba(0, 0, 0, 0.1) 5px;*/
    margin-bottom:10px;
    margin-top:10px;
    /*border:solid rgba(0, 0, 0, 0.11) 5px;*/
    /*
     margin:auto!important;
     */
    /*width:97%;*/
    height:50px;
    /*
     border-right:solid black 1px;
     border-left:solid black 1px;
     */
    /*
    background: -moz-linear-gradient(top, rgba(249,249,249,0) 0%, rgba(249,249,249,0.01) 1%, rgba(224,224,224,0.34) 50%, rgba(252,252,252,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,0)), color-stop(1%,rgba(249,249,249,0.01)), color-stop(50%,rgba(224,224,224,0.34)), color-stop(100%,rgba(252,252,252,0)));
    background: -webkit-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,0.01) 1%,rgba(224,224,224,0.34) 50%,rgba(252,252,252,0) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,0.01) 1%,rgba(224,224,224,0.34) 50%,rgba(252,252,252,0) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,0.01) 1%,rgba(224,224,224,0.34) 50%,rgba(252,252,252,0) 100%);
    background: linear-gradient(to bottom, rgba(249,249,249,0) 0%,rgba(249,249,249,0.01) 1%,rgba(224,224,224,0.34) 50%,rgba(252,252,252,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#00fcfcfc',GradientType=0 );
     */
}

.date-row{
    /*font-family:helvetica neue;*/
    
    height:50px;
    width:100%;
    position:absolute;
    /*margin-bottom:30px;*/
    /*border-bottom:solid black 1px;*/
    /*background:black;*/
    /*border-bottom:solid white 1px;*/
    
}



.sticky-wrapper{
    /*background:red!important;*/
    /*border-bottom:solid rgba(218,220,237,.2) 5px;*/
}

.hidden{
	display:none!important;
}

.quad{
    height: 25px;
}

#header-pic{
	display:inline-block;
}

#header-text{
	display:inline-block;
}

.friend-display{
	height:15px;
}

.date-display{
	height:15px;
    color:black;
    width: 75px;
    text-align: center;
    
    font-size:10pt;
}


.date-abrev-bot{
	/*text-align:center;*/
    display:inline-block;
    font-size:22pt;
    line-height: 12pt;
    color:white;
    margin-top:10px;
    font-family:helvetica neue;
    font-weight:normal;
    /*width:100%;*/
    /*position:absolute;
     bottom:2px;
     */
}

.events-touched{
    /*background:yellow;*/
}

.more-events-button-touched{
	background:orange;
}

.event-wrap-touched{
	/*background:yellow;*/
}

#bot-elem{
    /*visibility:hidden;*/
    font-size:10pt;
    width:96%;
}

.friend-pic-wrap-touched{
    border:solid black 1px;
    background:hsla(0, 0%, 0%, 0.1);
}

.description-wrap{
    
}



.rsvp-button{
    float:right;
    margin-right:50px;
    height:50px;
    width:50px;
    background-image:url('../images/check-trans.png')!important;
    box-shadow: 2px 2px 2px #888888;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow:2px 2px 2px #888888;
}


.map-button{
    /*display:inline-block;*/
    float:left;
    margin-left:50px;
    height:50px;
    width:50px;
    box-shadow: 2px 2px 2px #888888;
    background-image:url('../images/mrk-trans-3.png')!important;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow:2px 2px 2px #888888;
}

.button-wrap{
    display:block;
    height:50px;
    width:100%;
    margin:auto;
}

.event-ex{
    font-size:10pt;
    border-left:solid black 1px;
    border-right:solid black 1px;
    border-bottom:solid black 1px;
    /*border-bottom:solid rgba(0, 0, 0, 0.15) 5px;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1px;
    /*
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: height 1s;
    -webkit-transition: height 1s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
     */
}

.date-abrev-top{
	/*text-align:center;*/
    display:inline-block;
    font-family:helvetica neue;
    font-weight:normal;
    font-size:22pt;
    /*font-weight:regular;*/
    margin-right:10px;
    /*
     position:absolute;
     top:0px;
     */
    color:white;
    /*width: 100%;*/
}

.checkTouched{
    background-image:url('../images/checkOrangeBg.png')!important;
    background-position:center!important;
    background-repeat:no-repeat!important;
}

.mapTouched{
    background-image:url('../images/mapMrkOrange.png')!important;
    background-position:center!important;
    background-repeat:no-repeat!important;
}

.left-ex-wrap{
    /*margin-top:3px;*/
    float:left;
    height:50px;
    width:50px;
    /*background-color:rgba(3, 3, 3, 0.1);*/
    /*background-color:black;*/
}

.ev-desc-i{
    
}

.ev-desc-i img{
    margin:auto;
    width:200px;
    height:200px;
}

.left-ex-button{
    height:50px;
    width:50px;
    
    /*border-left:solid black 5px;*/
    /*display:none;*/
    -webkit-transition: opacity .5s ease-out;
    opacity: 0;
    /* for some reason I need this to get rid of a gap*/
    /* border:solid 5px black;*/
    /*box-shadow: 2px 2px 2px #888888;*/
    /*color:yellow;
     font-size:26pt;*/
    
    
    /*background-image:url('../images/UpArrowOrange.png')!important;*/
    /*background-image:url('../images/upArrowOrangeBg.png')!important;*/
    background-image:url('../images/ArrowUpBlackOrange.png')!important;
    /*background-image:url('../images/upArrowTouched.png')!important;*/
    background-position:center!important;
    background-repeat:no-repeat!important;
    /*
     background-image:url('../images/arrow_up.png');
     background-position:center;
     background-repeat:no-repeat;
     */
    /*background-attachment: fixed;*/
    float:left;
}

.right-ex-button{
    height:50px;
    width:50px;
    background-image:url('../images/ArrowDownTrans.png');
    
    background-position:center;
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    float:right;
}
/*
 .button-exp-wrap{
 width:100%;
 height:5px;
 background:green;
 }
 */

.fr-button-exp{
    padding-left:1px;
    /*display:inline;*/
    /*float:left;*/
    /*border-bottom:solid blue 5px;*/
}

.ev-button-exp{
    padding-right:1px;
    /*display:inline;*/
    /*float:right;*/
    /*border-bottom:solid red 5px;*/
}

.fr-button-exp-wrap{
    /*
     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: height .25s;
     -webkit-transition: height .2s;
     -webkit-perspective: 250;
     -webkit-backface-visibility: hidden;
     */
    /*margin-top:5px;*/
    float:left;
    width:75%;
    /*float:right;*/
    /*float:left;*/
    height:100%;
    /*border-right:solid blue 5px;*/
    /*border-left:solid blue 5px;*/
    /*border-bottom:solid blue 5px;*/
}

.ev-button-exp-wrap{
    /*
     -webkit-transform-style: preserve-3d;
     -webkit-transform: translate3d(0px,0px,0px);
     transition: height .25s;
     -webkit-transition: height .2s;
     -webkit-perspective: 250;
     -webkit-backface-visibility: hidden;
     */
    /*margin-top:5px;*/
    /*float:right;*/
    float:right;
    width:75%;
    height:100%;
    /*height:0px;*/
    /*background:yellow;*/
    /*border-left:solid red 5px;*/
    /*border-right:solid rgba(0, 0, 0, 0.1) 5px;*/
    /*border-left:solid red 5px;*/
    /*border-bottom:solid red 5px;*/
}

.date-abrev-wrap{

    /*padding-top:20px;*/
    float:left;
    /*margin-top:10px;*/
    width:100%;
    text-align:center;
    height:50px;
    position:relative;
    /*background:black;*/
}

.event-title{
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    font-size:8pt;
}

.event-extra-info{
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    font-size:8pt;
}

.more-events{
    margin-top: 10px;
    font-family:helvetica neue;
    font-weight: normal;
    margin-right:40px;
    margin-left: 40px;
    text-align: center;
    /*box-shadow: 2px 2px 2px #888888;*/
    color:black;
    height:25px;
    /*border-left:solid black 1px;
    border-right:solid black 1px;*/
    
}