/*attempt at diabling horizontal scrolling*/
/*
div[data-role="page"]{
    background-image:url('../images/upArrow.png');
    background-repeat:repeat;
    background-attachment: fixed;
}
*/
.be-text-1{
    /*
    font-size:60pt;
    margin:-40px 16px;
    */
    font-size:20pt;
    margin:-5px 16px;
}

.be-pat{
    position:fixed;
    display:block;
    z-index:0;
    background:white;
}

#be-pat-1{
    /*background:pink;*/
    /*background:black;*/
    background:white;
}
/*
#be-pat-2{
    margin-top:3px;
        background:pink;
}
*/
.be-text{
    /*
    font-size:20pt;
    margin:-25px -3px;
    */
    /*
    font-size:30pt;
    margin:-40px -3px;
    */
    /*
    font-size:30pt;
    margin:-40px -7px;
    color:pink;
    */
    /*
    font-size:30pt;
    margin:-30px -7px;
    color:gray;
    */
    /*
    font-size:40pt;
    margin:-40px -5px;
    color:gray;
    */
    font-size:20pt;
    margin:-20px -5px;
    color:gray;
}

body {
overflow-x: hidden; 



background:gray;
}

li{
    margin-bottom:3px;
    margin-top:3px;
}

#footer1{
    bottom: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    /*height: 2.5em;*/
    height: 50px;
    position: fixed;
    margin-bottom: 0px;
    background:black;
    color:white;
}

#date-page{
padding:0px!important;

}

.event-img-wrap{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: hsl(120, 100%, 25%);
    margin-left: 5px;
}

#test-button{
    position:fixed;
    top:0px;
    right:0px;
    background:green;
}

li{
border-top-width:0px !important;
background:none!important;
}

ul{
background:none!important;
list-style-type: none;
}

.background{
	 z-index: 0;
    position: fixed;
}


#bg-img-ul{
    top: 0;
    left: 0;
}

#bg-img-ur{
    top: 0;
    right: 0;
}

#bg-img-bl{
    bottom: 0;
    left: 0;
}

#bg-img-br{
    bottom: 0;
    right: 0;
}

.fixed{
position:fixed!important;
overflow-y: hidden!important; 
}

.relative{
position:relative!important;	
overflow-y: visible!important; 
}


.event-list-wrap{
	
	-webkit-transform: translate3d(0px,0px,0px);
		transition: height .5s;
-webkit-transition: height .5s; /* Safari */
height:222px;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top:solid black 1px;
	/*-webkit-backface-visibility: hidden;*/
	-webkit-perspective: 1000;
}

.hidden{
	display:none!important;
}

#dateMainList {
	width: 97%;
margin: auto;
margin-top:0px!important;
background:none!important;
padding-left:0px!important;
}

.more-events-text-inner-wrap{
	width:95%;
	height:90%;
	color:black;
	margin:auto;
	margin-bottom:5px;
	position:relative;
    font-size:20pt;
	/*
background: -moz-linear-gradient(top, rgba(183,182,186,0) 0%, rgba(183,182,186,0.07) 44%, rgba(183,182,186,0.07) 46%, rgba(183,182,186,0.07) 49%, rgba(183,182,186,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,182,186,0)), color-stop(44%,rgba(183,182,186,0.07)), color-stop(46%,rgba(183,182,186,0.07)), color-stop(49%,rgba(183,182,186,0.07)), color-stop(100%,rgba(183,182,186,0)));
background: -webkit-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
background: -o-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
background: -ms-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%);
background: linear-gradient(to bottom, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7b6ba', endColorstr='#00b7b6ba',GradientType=0 ); 
*/
}

.more-events-text{
position:absolute;
top:12px;
left:40px;
	font-family:"Arial";
	        font-size:12pt;
	        font-weight:bold;
}

.more-events-img{
	position:absolute;
	right:10px;
	top:5px;
}


.date-list-elem-wrap{
margin-top:-40px;
}

.dateDisplayer{
	opacity:0;
}

.spacer{
	width:100%;
	height:80px;
	height: 43px;
	margin:0px 3px;
}

.event-title-wrap{
	display:inline-block;
	width:65%;
	font-size:8pt;
	margin-left:5px;
	vertical-align:top;
}

.friend-title-wrap{
	display:none;
	vertical-align: top;
margin-top: 9px;
font-size:8pt;
margin-left:5px;
overflow-x:hidden;
}


.quadBr{
	position:absolute;
	bottom:0px;
	right:0px;
}

.quadBl{
	position:absolute;
	bottom:0px;
	left:0px;
}

.quadUr{
	position:absolute;
	top:0px;
	right:0px;
}

.quadUl{
	position:absolute;
	top:0px;
	left:0px;
}

.friend-wrap{
	margin-top:3px;
	margin-left:8px;
	float:left;
	position:relative;
	height:50px;
	width:50px;
}

.friend-wrap-touched{
	margin-top:4px;
	margin-left:2px;
	border-top:solid black 3px;
	border-left:solid black 3px;
	height:48px!important;
	width:48px!important;
}

.event-wrap{
	float:left;
	width: 79%;
/*	
background: -moz-linear-gradient(top, rgba(183,182,186,0) 0%, rgba(183,182,186,0.07) 44%, rgba(183,182,186,0.07) 46%, rgba(183,182,186,0.07) 49%, rgba(183,182,186,0) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,182,186,0)), color-stop(44%,rgba(183,182,186,0.07)), color-stop(46%,rgba(183,182,186,0.07)), color-stop(49%,rgba(183,182,186,0.07)), color-stop(100%,rgba(183,182,186,0))); 
background: -webkit-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); 
background: -o-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); 
background: -ms-linear-gradient(top, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); 
background: linear-gradient(to bottom, rgba(183,182,186,0) 0%,rgba(183,182,186,0.07) 44%,rgba(183,182,186,0.07) 46%,rgba(183,182,186,0.07) 49%,rgba(183,182,186,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7b6ba', endColorstr='#00b7b6ba',GradientType=0 ); 
*/
}

.event-img{
    
	/*display: inline-block;*/
width: 50px;
height: 50px;
background: hsl(120, 100%, 25%);
/*margin-left: 5px;*/
     
}

#fb-login-button{
	display:none;
	margin:auto;
	width:350px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
}

.more-events-button{
	height:50px;
	width:100%;
}
/*
.opaque{
	opacity:.4px;
}
*/
.cut-away-wrap{
	width:81%;
	height:50px;
display:block;
position:absolute;
bottom:0px;
left:0px;
border-top:solid black 1px;
}

.more-events-text-block{
	display:block;
	width:100%;
	height:30%;
	 background:white;
}

.expanded{
    background-image:url('../images/upArrow.png')!important;
    background-position:center; 
    background-repeat:no-repeat;
}

.more-events-text-wrap{
	text-align: center;
        height:50px;
        width:19%;
        background:white;
        position:absolute;
        bottom:0px;
        right:0px;
        border-right:solid black 1px;
        border-bottom:solid black 1px;
        border-left:solid black 1px;
        background-image:url('../images/downArrowSmall.png');
        background-position:center;
        background-repeat:no-repeat;
        /*
        		background: rgb(255,255,255); 
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 55%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); 
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); 
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
*/
}

#top-elem{
    -webkit-transform-style: preserve-3d;
    
	-webkit-transform: translate3d(0px,0px,0px);
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
	-webkit-perspective: 1500;
	-webkit-backface-visibility: hidden;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.ami-ex{
    /*
    -webkit-transform-style: preserve-3d;
    
	-webkit-transform: translate3d(0px,0px,0px);
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
	-webkit-perspective: 1500;
	-webkit-backface-visibility: hidden;
     */
}

.animateHeight{
    /*
    -webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0px,0px,0px);
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
	-webkit-perspective: 1500;
	-webkit-backface-visibility: hidden;
*/
}

.event-wrap-in{
    background:white;
	position:relative;
	overflow-y:hidden;
    
    border-left:solid black 1px;
    border-right:solid black 1px;

-webkit-transform-style: preserve-3d;
-webkit-transform: translate3d(0px,0px,0px);
transition: height 1s;
-webkit-transition: height 1s;
-webkit-perspective: 1000;
-webkit-backface-visibility: hidden;

}

.event-list-wrap-trans{
	position:relative;
	overflow-y:hidden;
/*
	-webkit-transform-style: preserve-3d;
		
	-webkit-transform: translate3d(0px,0px,0px);
		transition: height 1.5s;
-webkit-transition: height 1.5s; 
	-webkit-perspective: 1500;
	-webkit-backface-visibility: hidden;
*/
/*height:272px;*/
/*
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top:solid black 1px;
	*/
	/*-webkit-backface-visibility: hidden;*/
}

.more-events-cut-away{
	height:66%;
	display:block;
	width:95%;
}

.row-wrap{
	padding:5px 0px;
    
    height:64px;
    /*
	border-right:solid black 1px;
	border-left:solid black 1px;
     */
	/*
		background: rgb(255,255,255); 
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 55%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 55%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); 
*/
}

.date-row{
		height:50px;
        width:100%;
		border-bottom:solid black 1px;
        background:black;
            border-bottom:solid white 1px;
}

.hidden{
	display:none!important;
}

.quad{
height: 25px;	
}

#header-pic{
	display:inline-block;
}

#header-text{
	display:inline-block;
}

.friend-display{
	height:15px;
}

.date-display{
	height:15px;
color:black;
width: 75px;
text-align: center;

font-size:10pt;
}


.date-header{
	font-size:12pt;
}

.date-abrev-bot{
	/*text-align:center;*/
    display:inline-block;
	        font-size:12pt;
	        line-height: 12pt;
	        color:white;
/*width:100%;*/
/*position:absolute;
bottom:2px;
*/
}

.events-touched{
    background:yellow;
}

.more-events-button-touched{
	background:orange;
}

.event-wrap-touched{
	background:yellow;
}

#bot-elem{
    /*visibility:hidden;*/
    font-size:10pt;
    width:96%;
}

.friend-pic-wrap-touched{
          border:solid black 1px;
          background:hsla(0, 0%, 0%, 0.1);
}

.description-wrap{
    
}

.rsvp-button{
    float:right;
    margin-right:50px;
    height:50px;
    width:50px;
    background-image:url('../images/check-mark-bw.png')!important;
    background-position:center;
    background-repeat:no-repeat;
}


.map-button{
    /*display:inline-block;*/
    float:left;
    margin-left:50px;
    height:50px;
    width:50px;
    background-image:url('../images/map-marker-bw.png')!important;
    background-position:center;
    background-repeat:no-repeat;
}

.button-wrap{
    display:block;
    height:50px;
    width:100%;
    margin:auto;
}

.event-ex{
    font-size:10pt;
    height:0px;
    /*display:none;
    visibility: hidden;
    */
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,0px);
    transition: height 1s;
    -webkit-transition: height 1s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.date-abrev-top{
	/*text-align:center;*/
    display:inline-block;
	font-family:"Arial";
	        font-size:22pt;
	        font-weight:bold;
            margin-right:10px;
            /*
	       position:absolute;
	       top:0px;
             */
	        color:white;
	        /*width: 100%;*/
}

.date-abrev-wrap{
        font-family:"Arial";
        float:left;
        margin-top:0px;
        width:79%;
        height:50px;
        position:relative;
        background:black;
        font-weight:bold;  
}

.event-title{
		  line-height: 1.5em;
     height: 4.5em; 
  overflow: hidden;
}
